:host ::ng-deep c2c-tree-node {
    display: flex;
    padding-left: 50px;
  }
  

:host ::ng-deep c2c-nested-tree-node {
    display: flex;
    flex-direction: column;
  }
  

 :host ::ng-deep .rotate-down{
    transform: rotate(90deg);
    transition: 0.1s;
  }

  :host ::ng-deep .rotate-right{
    rotate: z -90deg;
    transition: 0.1s;
  }