<div>
<div ngt-select class="relative pl-32 py-16 inline-block text-left ">
  <div (click)="toggleShowDiv('Python Programming')" (click)="onSwitch('programs')">
    <button
      class="inline-flex justify-center w-full bg-blue bg-opacity-100 rounded-lg shadow-sm px-4 py-2  text-sm font-medium font-sans  focus:outline-none "
      id="options-menu" aria-haspopup="true" aria-expanded="true">
      <input type="text" [disabled]="true" name="fieldName" class=" text-white bg-blue cursor-pointer font-sans"
        ngDefaultControl [(ngModel)]="singleelementofdropdownarrprogram">
        <img [@animationRotate]="programStatus"  class="h-5 w-5" src="../../../assets/arrownewwhite.svg">
    </button>
  </div>
  <div [@slideInOut]="animationState">
    <div class=" origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white  focus:outline-none">
      <div (click)="changeoption(values)" *ngFor="let values of dropDownarrProgram" class="py-1 " role="menu"
        aria-orientation="vertical" aria-labelledby="options-menu">
        <a class="block px-4 py-2 text-sm text-gray-700 font-sans hover:bg-gray-100 hover:text-gray-900 cursor-pointer"
          role="menuitem">{{values}}</a>
      </div>
    </div>
  </div>
</div>
</div>

