<style>
    .dropdown:hover>.dropdown-content {
        display: block;
    }
</style>

<div class="dropdown inline-block relative">
    <button class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
        <span>Dropdown </span>
    </button>
    <ul class="dropdown-content absolute hidden text-gray-700 pt-1" style="cursor: pointer;">
        <li><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap">
                <ng-content></ng-content>

            </a></li>
    </ul>
</div>